<%- include("../common/head.ejs"); %>
<%- include("../common/aside.ejs"); %>
<div class="layout-page">
    <%- include("../common/top-nav.ejs"); %>
    <script>
        const allCat = {};
        const allSubCat = {};
        const data = <%- allCategory %>
        data.forEach(d => {
             if(d.parent_id.toString() === "0") {
                allCat[`'${d.category_id}'`] = d;
            } else {
                allSubCat[`'${d.parent_id.toString()}'`] = [];
                allSubCat[`'${d.parent_id.toString()}'`].push(d);
           }
        });
        const investorList = <%- investorList%>
        const investorName = {};
        const funds = {};
        const investorFinYear = {};

        investorList.forEach(inv => {
            investorName[`'${inv.user_id}'`] = inv.company_legal_name;
            funds[`'${inv.user_id}'`] = inv.fund_association;
            investorFinYear[`'${inv.user_id}'`] = inv.financial_year;
        });

    </script>
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <div class="col-lg-12 mb-4 order-0">
                            <div class="card">
                                <div class="d-flex align-items-end row">
                                    <div class="col-sm-7">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary">Document Management</h5>
                                            <p class="mb-4">
                                                You can view document archive by clicking the button below
                                            </p>

                                            <a href="./documents" class="btn btn-lg btn-outline-primary">Document Archive</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 text-center text-sm-left">
                                        <div class="card-body pb-0 px-0 px-md-4">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-xl">
                        <div class="card mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="mb-0">Upload Document</h5>

                            </div>
                            <div class="card-body">
                                <form name="document-upload-form" method="post" action="./file-upload" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label class="form-label" for="document_name">Document Title</label>
                                        <input required type="text" class="form-control" id="document_name" name="document_name" placeholder="Name of the Document">
                                    </div>
                                    <div class="mt-2 mb-3">
                                        <label for="investor_list" class="form-label"> Investor Name</label>
                                        <select required id="investor_list" name="investor_list" class="form-select form-select-lg">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div class="mt-2 mb-3">
                                        <div class="row gy-3">
                                            <div class="col-md">
                                                <label for="financial_year" class="form-label">Financial Year</label>
                                                <select required id="financial_year" name="financial_year" class="form-select form-select-lg">
                                                    <option value="">Select</option>
                                                    <option value="2022-2023">FY 2022-2023 </option>
                                                    <option value="2021-2022">FY 2021-2022 </option>
                                                </select>
                                            </div>
                                            <div class="col-md">
                                                <label for="Quarter" class="form-label">Quarter</label>
                                                <select required id="quarter" name="quarter" class="form-select form-select-lg">
                                                    <option value="">Select</option>
                                                    <option value="Q1">Q1</option>
                                                    <option value="Q2">Q2</option>
                                                    <option value="Q3">Q3</option>
                                                    <option value="Q4">Q4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2 mb-3">
                                        <div class="row gy-3">
                                            <div class="col-md">
                                                <label class="form-label" for="selectCat">Category</label>
                                                <select required class="form-select placement-dropdown" id="selectCat" name="selectCat">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                            <div class="col-md">
                                                <label class="form-label" for="selectSubCat">Sub Category</label>
                                                <select class="form-select placement-dropdown" id="selectSubCat" name="selectSubCat">
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-2 mb-3">
                                        <label for="fund_association" class="form-label">Choose Fund </label>
                                        <select id="fund_association" name="fund_association" class="form-select form-select-lg">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="uploadFile" class="form-label">Browse Document</label>
                                        <input required class="form-control" type="file" id="uploadFile" name="uploadFile">
                                    </div>

                                    <div class="form-check form-switch mb-2">
                                        <input class="form-check-input" type="checkbox" id="status" name="status">
                                        <label class="form-check-label" for="status">Active</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update Document</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <!-- / Content -->


    <%- include("../common/footer-content.ejs");%>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
</div>
<%- include("../common/footer-imports.ejs"); %>
<script>
    function populateCategory(selector, data) {
        let catSelect = $(selector);
        catSelect.empty();
        catSelect.append(`<option value="">Select</option>`)
        data.forEach(cat => {
            catSelect.append(`<option value="${cat.category_id}">${cat.category_name}</option>`)
    });
    }
    function populateInvestorName(selector, data) {
        let invSelect = $(selector);
        invSelect.empty();
        invSelect.append(`<option value="">Select</option>`)
        data.forEach(inv => {
            invSelect.append(`<option value="${inv[0]}">${inv[1]}</option>`);
    });
    }

    function populateInvestorFund(selector, data) {
        let fundSelect = $(selector);
        fundSelect.empty();
        fundSelect.append(`<option value="">Select</option>`)
        data.forEach(fund => {
            fundSelect.append(`<option value="${fund}">${fund}</option>`);
    });
    }

    populateCategory('#selectCat', Object.values(allCat));
    populateInvestorName('#investor_list', Object.entries(investorName));
</script>