<%- include("../common/head.ejs"); %>
<%- include("../common/aside.ejs");%>
<div class="layout-page">
    <%- include("../common/top-nav.ejs"); %>
    <script>
        const userData = <%- user%>
    </script>
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">

            <div class="row">
                <div class="col-xl">
                    <div class="card mb-4">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Edit User</h5>
                        </div>
                        <div class="card-body">
                            <span class="danger"></span>
                            <% if (message) { %>
                            <p class="mb-4 error-z3"><%= message %></p>
                            <% } %>
                    <form name="user" action="./edit-user" method="post" autocomplete="off"  id="new-user">
                        <input type="hidden" name="user_id" value="" id="user_id" />
                        <input type="hidden" name="username" value="<%=JSON.parse(user).username%>"  />
                        <div class="mb-3">
                            <label class="form-label" for="email_id">Email</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                <input disabled type="email" id="email_id" name="email_id" required class="form-control" placeholder="john.doe" aria-label="john.doe" aria-describedby="basic-icon-default-email2">
                                <span id="basic-icon-default-email2" class="input-group-text">@example.com</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="confirm-password">User Role</label>
                            <div class="col-md">
                                <div class="form-check form-check-inline mt-3 inv4">
                                    <input class="form-check-input" type="radio" name="user_role" id="user_role1" value="1" required>
                                    <label class="form-check-label" for="user_role1">Admin</label>
                                </div>
                                <div class="form-check form-check-inline mt-3 inv4">
                                    <input class="form-check-input" type="radio" name="user_role" id="user_role4" value="4" required>
                                    <label class="form-check-label" for="user_role2">Domestic</label>
                                </div>
                                <div class="form-check form-check-inline inv5">
                                    <input class="form-check-input" type="radio" name="user_role" id="user_role5" value="5" required>
                                    <label class="form-check-label" for="user_rol3">International</label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="first_name">Full Name</label>
                            <div class="input-group input-group-merge">
                                <span id="basic-icon-default-fullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                                <input type="text" class="form-control" name="first_name" id="first_name" required placeholder="John" aria-label="John Doe" aria-describedby="basic-icon-default-fullname2">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="contact_number">Phone Number</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text"><i class="bx bx-phone"></i></span>
                                <input type="tel" maxlength="10" minlength="9"  id="contact_number" name="contact_number" required class="form-control phone-mask" placeholder="(Country Code) 999 999 9999" aria-label="(Country Code) 658 799 8941" aria-describedby="basic-icon-default-phone2">
                            </div>
                        </div>

                        <div class="form-check form-switch mb-2">
                            <input class="form-check-input" type="checkbox" id="status" name="status">
                            <label class="form-check-label" for="status">Active</label>
                        </div>
                        <button type="submit" class="btn btn-primary" id="new-user-btn">Edit User</button>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../common/footer-content.ejs");%>

    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
</div>
<%- include("../common/footer-imports.ejs"); %>
<script>
    function populateUserData(userData) {
        document.getElementById("first_name").value = userData.first_name;
        document.getElementById("contact_number").value = (userData.phone_number) ? userData.phone_number : '';
        document.getElementById("email_id").value = userData.username;
        document.getElementById("user_id").value = userData.user_id;
        document.getElementById("status").checked = userData.status ? "checked" : '';
        document.getElementById(`user_role${userData.role_id}`).checked = "checked";
    }
    populateUserData(userData);
</script>