<%- include("../common/head.ejs"); %>
<%- include("../common/aside.ejs"); %>
<div class="layout-page">
    <%- include("../common/top-nav.ejs"); %>
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <div class="card">
                        <div class="d-flex align-items-end row">
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">Welcome to Investor Portal</h5>
                                    <p class="mb-4">
                                        Do you have a document to upload? You can use this shortcut to upload the documents.
                                    </p>
                                    <a href="./upload-document" class="btn btn-lg btn-outline-primary">Upload Document</a>  <a href="./send-all" class="btn btn-lg btn-outline-primary">Upload General Document</a>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center text-sm-left">
                                <div class="card-body pb-0 px-0 px-md-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- / Content -->

    <%- include("../common/footer-content.ejs");%>

    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
</div>
<%- include("../common/footer-imports.ejs"); %>