<%- include("../common/head.ejs"); %>
<%- include("../common/inv-aside.ejs");%>
<div class="layout-page">
    <%- include("../common/top-nav.ejs"); %>
    <script>
        const userRoleId = <%-roles.role_id%>;
        const catList = [<%- catList.subUserCatList%>];
        const allCat = {};
        const allSubCat = {};
        const data = <%- allCategory %>
                data.forEach(d => {
                    if(d.parent_id.toString() === "0") {
                        if (userRoleId === 6) {
                         catList.includes(d.category_id) ? allCat[`'${d.category_id}'`] = d : '';
                        } else {
                            allCat[`'${d.category_id}'`] = d;
                        }
                    } else {
                        if(!allSubCat[`'${d.parent_id.toString()}'`])
                            allSubCat[`'${d.parent_id.toString()}'`] = [];
                        allSubCat[`'${d.parent_id.toString()}'`].push(d);
                    }
                });
        const investorList = <%- JSON.stringify(investorList) %>
        const investorName = {};
        const investorEmail = {};
        const funds = {};

        investorList.forEach(inv => {
            investorName[`'${inv.user_id}'`] = inv.company_legal_name;
            investorEmail[`'${inv.user_id}'`] = inv.username;
            funds[`'${inv.user_id}'`] = inv.fund_association;
        });
        const docSearchFields = <%- docSearchFields; %>
    </script>

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <div class="card">
                        <div class="d-flex align-items-end row">
                            <div class="col-sm-7">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">Welcome to Investor Portal</h5>
                                    <!--<div class="alert alert-info alert-dismissible" role="alert">-->
                                    <!--You have 2 documents to view.-->
                                    <!--<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
                                    <!--</div>-->
                                    <p class="form-label" style="margin: 10px;">
                                        <% if (message) { %>
                                            <span class="danger"><%= message %></span>
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-5 text-center text-sm-left">
                                <div class="card-body pb-0 px-0 px-md-4">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (showFilter) { %>
            <form action="" method="post" name="docSearch">
                <div class="row">
                    <div class="col-lg-12 mb-4 order-0">
                        <div class="card mb-4">
                            <h5 class="card-header">Search and Filter the Documents</h5>
                            <div class="card-body">
                                <div class="row gx-3 gy-2 align-items-center">

                                    <div class="col-md-6">
                                        <label for="html5-date-input" class="col-md-2 col-form-label">Start Date</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="date" value="" id="start_date" name="start_date">
                                        </div>


                                    </div>
                                    <div class="col-md-6">
                                        <label for="html5-date-input" class="col-md-2 col-form-label">End Date</label>
                                        <div class="col-md-10">
                                            <input class="form-control" type="date" value="" id="end_date" name="end_date">
                                        </div>


                                    </div>


                                </div>
                                <div class="row gx-3 gy-2 align-items-center pt-3">
                                    <div class="col-md-3">
                                        <label class="form-label" for="quarter">Quarter</label>
                                        <select class="form-select placement-dropdown" id="quarter" name="quarter">
                                            <option value="">Select</option>
                                            <option value="Q1">Q1</option>
                                            <option value="Q2">Q2</option>
                                            <option value="Q3">Q3</option>
                                            <option value="Q4">Q4</option>

                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label" for="selectCat">Category</label>
                                        <select class="form-select placement-dropdown" id="selectCat" name="selectCat">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-label" for="selectSubCat">Sub Category</label>
                                        <select class="form-select placement-dropdown" id="selectSubCat" name="selectSubCat">
                                            <option value="">Select</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="form-label" for="showToastPlacement">&nbsp;</label>
                                        <button id="showToastPlacement" class="btn btn-primary d-block">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <% } %>
            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <h4 class="fw-bold py-3 mb-4" id="doc-cat-title">Latest Documents</h4>

                    <!-- Search -->
                    <div class=" align-items-center">
                        <div class=" d-flex align-items-center">
                            <input
                                    type="text"
                                    class="form-control border-1 shadow-none"
                                    placeholder="Type here to search"
                                    aria-label="Type here to search"
                                    id="searchField"
                                    />
                        </div>
                        <br />
                    </div>
                    <!-- /Search -->
                    <!-- Basic Bootstrap Table -->
                    <div class="card">
                        <div class="table-responsive text-nowrap">
                            <% if (Array.isArray(documentList) && documentList.length) { %>
                            <div class="table-sortable" id="table-sortable">
                                Table will be rendered here
                            </div>
                            <% }  else { %>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Document Title</th>
                                    <th>Category</th>
                                    <th>DATE(DD/MM/YYYY)</th>
                                    <th>Download</th>
                                </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                <tr>
                                    <td colspan="3"><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong class="success">Document list is empty</strong></td>
                                </tr>
                            </table>
                            <% } %>
                        </div>
                    </div>
                    <!--/ Basic Bootstrap Table -->
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <div class="demo-inline-spacing">
                        <!-- Basic Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="documentPagination"></ul>
                        </nav>
                        <!--/ Basic Pagination -->
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- / Content -->

    <%- include("../common/footer-content.ejs");%>

    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->
</div>
<%- include("../common/footer-imports.ejs"); %>
<script>
    var columns = {
        'document_name': 'Document Title',
        'category_id': 'Category',
        'quarter': 'Quarter',
        'created_at': 'DATE(DD/MM/YYYY)',
        'download': 'Download'
    };
    const roleId = <%- roles.role_id%>
    const showCat = <%- showCat %>;
    const documentList = <%- JSON.stringify(documentList) %>
    const finalDocList = [];
    if (Array.isArray(documentList) && documentList.length) {
        const options = { day: '2-digit', month: '2-digit',  year: 'numeric'};
        documentList.forEach(doc => {
            if (roleId === 6) {
                if( catList.length && catList.includes(doc.category_id)) {
                    const created_at = new Date(doc.created_at).toLocaleDateString("in", options);
                    const document_name = `<strong><a href="./download-document?doc=${JSON.parse(doc.file_path).filename}">${doc.document_name}</a></strong>`;
                    const download = `<a href="./download-document?doc=${JSON.parse(doc.file_path).filename}"><u>Download</u></a>`;
                    const category_id = allCat[`'${doc.category_id}'`]['category_name'];
                    finalDocList.push({document_name, download, category_id, created_at, quarter: doc.quarter});
                }
            } else {
                const created_at = new Date(doc.created_at).toLocaleDateString("in", options);
                const document_name = `<strong><a href="./download-document?doc=${JSON.parse(doc.file_path).filename}">${doc.document_name}</a></strong>`;
                const download = `<a href="./download-document?doc=${JSON.parse(doc.file_path).filename}"><u>Download</u></a>`;
                const category_id = allCat[`'${doc.category_id}'`]['category_name'];
                finalDocList.push({document_name, download, category_id, created_at, quarter: doc.quarter});
            }


        });

        var table = $('#table-sortable').tableSortable({
            data: finalDocList,
            columns: columns,
            rowsPerPage: 50,
            sorting:false,
            pagination: true,
            paginationContainer: '#documentPagination',
            searchField: '#searchField',
            nextText: '<i class="tf-icon bx bx-chevron-right"></i>',
            prevText: '<i class="tf-icon bx bx-chevron-left"></i>',
            formatCell: function(row, key) {
                if (row[key] === null) {
                    return $('<span></span>').text("-");
                }
                return row[key];
            }
        });
        if (!finalDocList.length) {
            document.querySelector('div#table-sortable table.table >tbody').innerHTML = `<tr>
                                    <td colspan="3"><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong class="success">Document list is empty</strong></td>
                                </tr>`;
        }
    }
    function populateCategory(selector, data) {
        let catSelect = $(selector);
        catSelect.empty();
        catSelect.append(`<option value="">Select</option>`)
        data.forEach(cat => {
            catSelect.append(`<option value="${cat.category_id}">${cat.category_name}</option>`)
        });
    }
    populateCategory('#selectCat', Object.values(allCat));

    function populateSearchFields() {
        document.getElementById("start_date").value = (docSearchFields.start_date) ? docSearchFields.start_date : '';
        document.getElementById("end_date").value = (docSearchFields.end_date) ? docSearchFields.end_date : '';
        document.getElementById("quarter").value = (docSearchFields.quarter) ? docSearchFields.quarter : '';
        document.getElementById("selectCat").value = (docSearchFields.selectCat) ? +docSearchFields.selectCat : '';
        if(docSearchFields.selectCat) {
            const subCat = (allSubCat[`'${docSearchFields.selectCat}'`]) ? allSubCat[`'${docSearchFields.selectCat}'`]: [];
            populateCategory('#selectSubCat', subCat);
        }
        if(showCat) {
            document.getElementById("doc-cat-title").innerHTML = (showCat===-1 ) ?  "All Documents" : allCat[`'${showCat}'`]['category_name'];
        }
       
        document.getElementById("selectSubCat").value = (docSearchFields.selectSubCat) ? docSearchFields.selectSubCat : '';
    }

    $(document).ready(function () {
        <% if (showFilter) { %>
        populateSearchFields();
        <% } %>
    });

</script>
