
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="./inv-home" class="app-brand-link">

            <img src="/static/assets/img/logo-dark.png" width="200" height="56" alt=""/>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="#" class="menu-link  menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">General</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item edit-link" data-category="profile" data-profile="<%= JSON.stringify(users) %>" data-role="<%=roles.role_id%>">
                    <a href="javascript:void(0)" class="menu-link">
                        <div data-i18n="Without menu">Profile </div>
                    </a>
                </li>
                <li class="menu-item edit-link" data-category="password" data-password="<%= JSON.stringify(users) %>">
                    <a href="javascript:void(0)" class="menu-link">
                        <div data-i18n="Without navbar">Change Password</div>
                    </a>
                </li>

            </ul>
        </li>

        <!-- Layouts -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-layout"></i>
                Documents </a>

            <ul class="menu-sub">
                <% if (catList && Array.isArray(catList.message) && catList.message.length) { %>
                <% catList.message.forEach(function(cat){ %>
                <% if (cat.status) { %>
                <li class="menu-item side-nav-cat" data-category='<%- JSON.stringify(cat) %>'>
                    <a href="javascript:void(0);" class="menu-link">
                        <div data-i18n="Without menu"><%= cat.category_name %></div>
                    </a>
                </li>
                <% } %>
                <% }); %>
                <% } %>
            </ul>
        </li>

        <!-- Misc -->
        <%
        if([3].includes(roles.role_id) && (users.alt_email_1 || users.alt_email_2)) {
        %>
            <li class="menu-header small text-uppercase"><span class="menu-header-text">User Management</span></li>
            <li class="menu-item">
                <a
                        href="/new-sub-user"
                        class="menu-link"
                >
                    <i class="menu-icon tf-icons bx bx-file"></i>

                    <div>Create Sub User</div>
                </a>
            </li>
            <li class="menu-item">
                <a
                        href="/sub-users"
                        class="menu-link"
                >
                    <i class="menu-icon tf-icons bx bx-file"></i>

                    <div>Manage Sub User</div>
                </a>
            </li>
        <% } %>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">About Us</span></li>
        <li class="menu-item">
            <a
                    href="./contact"
                    class="menu-link"
                    >
                <i class="menu-icon tf-icons bx bx-file"></i>

                <div>Contact Us</div>
            </a>
        </li>
        <li class="menu-item">
            <a
                    href="https://z3partners.com/"
                    target="_blank"
                    class="menu-link"
                    >
                <i class="menu-icon tf-icons bx bx-file"></i>

                <div>Website</div>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->